@charset "utf-8";

$border-radius: 4px;
$border-width: 1px;
$outline-width: 3px;
$transition: 0.25s ease-in-out;
$line-height: 1.5;

@import "colors.scss";

// Light theme is the default
@import "light-theme";
@import "dark-theme";

:root:not([data-theme="dark"]) {
    @include light-theme;
}

// Override with dark theme if the agent prefers dark
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        @include dark-theme;
    }
}

// Override with dark theme in case the user configured it
html[data-theme="dark"] {
    @include dark-theme;
}


// @import "pico/pico.scss";
@import "highlight.scss";
@import "accordion.scss";
@import "button.scss";
@import "input.scss";
@import "tooltip.scss";
@import "table.scss";


// Border box and reset all margins
*, *::before, *::after {
    box-sizing: border-box; // 1
    margin: 0;
}

// 1. Add text decoration inheritance in all browsers (opinionated)
// 2. Add vertical alignment inheritance in all browsers (opinionated)
::before, ::after {
    text-decoration: inherit; // 1
    vertical-align: inherit; // 2
}

// 1. Correct the line height in all browsers
// 2. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS
// 3. Change the default tap highlight to be completely transparent in iOS
// 4. Use the default cursor in all browsers (opinionated)
// 5. Use a 4-space tab width in all browsers (opinionated)
// 6. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS
// 7. Prevent the header shadow from making the page horizontally scrollable
html {
    -webkit-text-size-adjust: 100%; // 2
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 3
    tab-size: 4; // 5
    -ms-text-size-adjust: 100%; // 6
    background-color: var(--background-color);
    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height); // 1
    text-rendering: optimizeLegibility;
    cursor: default; // 4
    overflow-x: hidden; // 7
}

// Render the `main` element consistently in IE
main {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    line-height: $line-height;
}

html, body {
    height: 100%;
}

// Default font styling
body {
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

:root { 
    font-weight: 400;
    font-size: 16px;
}

// Calculate standard paddings and margins
:root {
    --pad1: calc(0.25 * var(--pad3));
    --pad2: calc(0.5 * var(--pad3));
    --pad3: 2vw;
    --pad3: calc(clamp(8px, 2vw, 16px));
    --pad4: calc(2 * var(--pad3));
    --pad5: calc(4 * var(--pad3));
    
    --mar1: calc(0.25 * var(--mar3));
    --mar2: calc(0.5 * var(--mar3));
    --mar3: 2vw;
    --mar3: calc(clamp(8px, 2vw, 32px));
    --mar4: calc(2 * var(--mar3));
    --mar5: calc(4 * var(--mar3));
}


// Rows & columns (spacers)

.rows1 > *:not(:last-child) {
    margin-bottom: var(--mar1);
}

.rows2 > *:not(:last-child),
form:not(.buttons) > *:not(:last-child),
section > *:not(:last-child) {
    margin-bottom: var(--mar2);
}

.rows3 > *:not(:last-child) {
    margin-bottom: var(--mar3);
}

.rows4 > *:not(:last-child) {
    margin-bottom: var(--mar4);
}

.columns, .columns1, .columns2, .columns3, .columns4 {
    display: flex;
    gap: var(--mar3);
    align-items: start;
    & > * {
        flex: 1 1 0;
    }
}
.columns1 { gap: var(--mar1); }
.columns2 { gap: var(--mar2); }
.columns4 { gap: var(--mar4); }

@media only screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
        align-items: stretch;
        & > * {
            flex: none;
        }
    }
} 

.wrap2 {
    flex-wrap: wrap;
    & > * {
        flex-basis: 34%;
    }
}



@import "typography.scss";


audio, canvas, iframe, img, svg, video {
    display: block;
}

// Add the correct display in iOS 4-7
audio:not([controls]) {
    display: none;
    height: 0;
}

// Remove the border on iframes in all browsers (opinionated)
iframe {
    border-style: none;
}

// 1. Remove the border on images inside links in IE 10.
// 2. Responsive by default
img {
    max-width: 100%; // 2
    height: auto; // 2
    border-style: none; // 1
}

// Change the fill color to match the text color in all browsers (opinionated)
svg:not([fill]) {
    fill: currentColor;
}

// Hide the overflow in IE
svg:not(:root) {
    overflow: hidden;
}



// Code

/**
* Code
*/

// Reboot based on :
// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
// - sanitize.css v12.0.1 | CC0 1.0 Universal | github.com/csstools/sanitize.css
// ––––––––––––––––––––

pre, code, kbd, samp {
    font-family: monospace;
    font-size: 0.875em;
}

code, kbd {
    display: inline-block;
    color: var(--code-color);
}

pre {
    -ms-overflow-style: scrollbar;
    overflow: auto;
    max-height: 66vh;
    display: block;
    background: var(--pre-background-color);
    color: var(--pre-color);
    padding: var(--pad3);
    line-height: var(--line-height);
    border-radius: $border-radius;
    white-space: pre;
    box-shadow: var(--pre-box-shadow);
    
    > code {
        color: inherit;
        background: transparent;
        display: block;
        padding: 0;
        font-weight: normal;
    }
}

.container {
    padding: var(--mar3);
    max-width: 1400px;
    margin: 0 auto;
}






// Breadcrumbs
h1.toplevel {
    line-height: 100%;
}

@media only screen and (min-width: 800px) {
    h1.toplevel {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        line-height: inherit;
    }   
}

nav.breadcrumb {
    font-weight: normal;
    display: flex;
    justify-content: start;
    font-size: 1rem;
}

nav.breadcrumb a:not(:first-child)::before {
    content: '⮜';
    margin: 0 0.5em;
    font-weight: bold;
    color: var(--muted-color);
}



// Avatars

.avatar {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 10%;
    transition: transform 0.25s;
    box-shadow: 0 2px 6px #0008
}

nav .avatar {
    max-width: 2rem;
    max-height: 2rem;
}

.avatar.is-large {
    max-width: 200px;
    max-height: 200px;
}

.avatar.is-prefix {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.25rem;
    vertical-align: middle;
    display: inline;
}

h1 .avatar {
    display: inline-block;
    height: 1.2em;
    vertical-align: middle;
    margin: -0.5em 0 -0.4em 0;
}

img.avatar:hover {
    transform: scale(3,3);
}


// Tabs

.tab-selectors {
    border-bottom: 2px solid $purple;
    display: flex;
    flex-wrap: wrap;
    gap: var(--pad2);
    
    > * {
        cursor: pointer;
        transition: $transition;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: var(--pad1) var(--pad2);
    }
    > .is-active, > .is-active a {
        background-color: #{$purple};
        color: white;
    }
}


// Tags & notifications

.tag {
    float: right;
    margin: 0 0 0.25em 0.5em;
    background-color: #{$green};
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0em 0.5em;
    border-radius: 3px;
    min-width: 1em;
    min-height: 1em;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 6px black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag.no-float {
    float: none;
}

.tag.is-info {
    background-color: #0083cf;
}

.tag.is-warning {
    background-color: #d17905;
}

.tag.is-ok {
    background-color: #02a107;
}

.tag.is-important {
    background-color: #{$purple};
}

.notification {
    border-left: var(--pad2) solid #{$green};
    border-radius: $border-radius;
    padding: var(--pad1) 0 var(--pad1) var(--pad2);
}

.notification.is-info {
    border-color: #0083cf;
}

.notification.is-warning {
    border-color: #d17905;
}

.notification.is-important {
    border-color: #{$purple};
}

.notification + .notification {
    margin-top: var(--mar2);
}

.translucent {
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}

.presence-avatar {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    &.away {
        opacity: 0.5;
    }
    &.away, &.today {
        color: inherit;
    }
}


// People cards

.people-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--mar3);
    align-items: flex-start;
    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    & > a, & > div {
        display: flex;
        gap: var(--mar2);
        p {
            margin: 0;
        }
        h4 {
            margin: 0;
            font-size: var(--font-size);
        }
        & > *:last-child {
            flex: 1;
        }
    }
}

.tv .people-cards {
    @media (min-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media (min-width: 1800px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.line-centered {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line-centered:before,
.line-centered:after {
    content: '';
    border-top: 2px solid;
    margin: 0 16px 0 0;
    flex: 1 0 16px;
}

.line-centered:after {
    margin: 0 0 0 16px;
}

.faint {
    color: #8888;
}

.people {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, 140px);
    justify-content: space-between;
}

.person {
    background-size: cover;
    border-radius: 10%;
    display: block;
    width: 140px;
    height: 140px;
    display: flex;
    border: 2px solid #888;
    box-shadow: var(--card-box-shadow);
    flex-direction: column;
    overflow: hidden;
    & > h3 {
        margin-top: 2px;
        text-align: center;
        text-shadow: black 0 0 4px;
        flex: 1;
        color: white;
    }
    & > .tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        margin: 6px;
        & > .tag {
            margin: 4px 4px 0 0;
        }
    }
    &.away {
        box-shadow: $purple 0 0 12px;
        border-color: $purple;
    }
    &.online {
        box-shadow: $green 0 0 12px;
        border-color: $green;
    }
}


// Cards

script {
    display: none !important;
}

.people-cards > .card {
    min-width: 0;
    h3, p, div {
        white-space: nowrap;
        overflow: hidden;
    }
}

.card {
    // margin: var(--mar3) 0;
    padding: var(--pad3);
    box-shadow: var(--card-box-shadow);
    border: 1px solid var(--card-border-color);
    border-radius: $border-radius;
    display: block;

    > * {
        display: block;
        min-width: 0;
    }
    
    > header,
    > footer {
        margin-right: calc(var(--mar3) * -1);
        margin-left: calc(var(--mar3) * -1);
        padding: calc(var(--pad3) * 0.66)
        var(--pad3);
        background-color: var(--card-sectioning-background-color);
    }
    
    > header {
        margin-top: calc(var(--mar3) * -1);
        margin-bottom: var(--mar3);
        border-bottom: 1px solid var(--card-border-color);
    }
    
    > footer {
        margin-top: var(--mar3);
        margin-bottom: calc(var(--mar3) * -1);
        border-top: 1px solid var(--card-border-color);
    }

    // The last child of a card should not have margin
    & > *:last-child {
        margin-bottom: 0;
    }
}

.card .card {
    margin: 1em 0;
    padding: calc(var(--pad3) * 0.5);
    box-shadow: 0 0.2rem 0.4rem #0003;
}


// Header bar

body > header {
    padding: 0;
    user-select: none;
    font-size: calc(clamp(14px, 3vw, 20px));
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 24px #0008;
    .left {
        display: flex;
        flex-wrap: wrap;
        gap: var(--pad2);
        & > * {
            gap: var(--pad1);
            display: flex;
        }
        .page-title {
            flex-wrap: wrap;
            &::before {
                content: ' ➤ ';
            }
            & > *:not(:first-child)::before {
                content: ' ➤ ';
            }
        }    
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    margin: 0;
    padding: var(--pad2) 0;
}

.dropdown-menu > * {
    white-space: nowrap;
    display: block;
    padding: var(--pad2) var(--pad3);
    &:hover {
        background-color: #ffffff40;
    }
}

body.show-dropdown-menu .dropdown-menu {
    display: block;
}

.invert {
    background-color: $primary;
    color: white;
}

.invert a {
    color: white;
}

.invert a.current {
    color: #8affeb;
}

body > header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        padding: 0;
        display: flex;
        gap: var(--mar2);
        align-items: center;
        & > * {
            display: inline-block;
        }
    }
    &.container {
        padding-top: var(--mar2);
        padding-bottom: var(--mar2);
    }
}




/**
* Accessibility & User interaction
*/


// Based on :
// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
// - sanitize.css v12.0.1 | CC0 1.0 Universal | github.com/csstools/sanitize.css
// ––––––––––––––––––––

// Accessibility

// Change the cursor on control elements in all browsers (opinionated)
[aria-controls] {
    cursor: pointer;
}

// Change the cursor on disabled, not-editable, or otherwise inoperable elements in all browsers (opinionated)
[aria-disabled="true"],
[disabled] {
    cursor: not-allowed;
}

// Change the display on visually hidden accessible elements in all browsers (opinionated)
[aria-hidden="false"][hidden] {
    display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// User interaction
// Remove the tapping delay in IE 10
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
}

textarea {
    resize: none;
}



// Hr

// 1. Add the correct box sizing in Firefox
// 2. Show the overflow in Edge and IE
hr {
    box-sizing: content-box; // 1
    height: 0; // 1
    overflow: visible; // 2
    border: none;
    border-top: 1px solid var(--muted-border-color);
}


// For chartist

.ct-legend li {
    list-style: none;
    margin-top: 0;
}

.ct-label {
    color: var(--text) !important;
}


// Old CSS

.chained {
    display: block;
    position: relative;
}

.chained:not(:last-child) {
    margin-bottom: 1.6rem;
}

.chained + .chained::before {
    content: "⮟";
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    color: var(--color);
    opacity: 0.4;
}



.lesson {
    border-radius: $border-radius;
    // border: 1px solid #ccc;
    box-shadow: var(--card-box-shadow);
    border: 1px solid var(--card-border-color);
    padding: var(--pad3);
    cursor: pointer;
    color: inherit;
    display: block;
    
}

.lesson.startable {
    border: 1px solid $purple;
}

.lesson.passed {
    border: 1px solid $green;
}

.lesson.paused {
    border: 1px solid $amber-800
}

.lesson.needs_grading {
    border: 1px dashed #ae4000;
}

.lesson.in_progress {
    background-color: $purple;
    color: #eee;
    h4 {
        color: white;
    }
    .tag {
        color: #444 !important;
        background-color: white;
    }
}

.lesson-dep {
    text-align: center;
    font-style: italic;
    & .done {
        text-decoration: line-through;
    }
    svg {
        display: inline-block;
        margin-left: 4px;
    }
}



.assignment {
    
    .stats {
        color: #888;
        margin: -0.5rem 0 0.5rem;
    }

    pre.asciinema-terminal {
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        max-height: none;
    }

    img, video {
        box-shadow: 0 3px 6px rgba(0,0,0,0.3);
        border-radius: 4px;
        max-width: 50%;
        max-height: 80%;
        margin-top: var(--mar1);
    }
    
    .no-border {
        box-shadow: none;
        border-radius: 0;
    }
    
    wired-card, .side {
        max-width: 400px;
        clear: both;
        display: table;
        @media (min-width: 900px), print {
            float: right;
            margin-left: 8px;
        }
        margin-bottom: 8px;
        img,video {
            max-width: 100%;
        }
    }
    
    wired-card {
        line-height: 1.5em;
        
        .hor {
            display: flex;
            align-items: center;
        }
        .hor > * {
            margin-right: 10px;
        }
        .hor > *:last-child {
            margin-right: 0;
        }
        
        h1, h2, h3, h4, h5 {
            font-weight: bold;
        }
        h1 { font-size: 1.75rem; }
        h2 { font-size: 1.6rem; }
        h3 { font-size: 1.45rem; }
        h4 { font-size: 1.30rem; }
        h5 { font-size: 1.15rem; }
        
        table {
            width: inherit;
        }
    }
    
    wired-card, wired-card * {
        font-family: 'Gloria Hallelujah' !important;
    }
    
    wired-card wired-card {
        float: none;
    }
    
    wired-card > * {
        margin: 10px 10px 0 10px;
    }
    wired-card > *:last-child {
        margin-bottom: 10px;
    }
    
    wired-card small {
        display: block;
        font-size: 70%;
        font-weight: bold;
    }
    
    wired-card a {
        text-decoration: underline;
        display: block;
    }
    
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.objective {
    // box-shadow: 0 0 4px #{transparentize($green, 0.5)};
    // border: 1px solid #80808050;
    // border-radius: $border-radius;
    // padding: var(--pad3);
    > .text {
        margin-bottom: var(--pad2);
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
    
    > .rubric {
        flex: 0 0 300px;
        > label {
            display: block;
        }
        > label > p {
            display: inline;
        }
        > label:not(:first-child) {
            margin-top: 0.5rem;
        }
    }
    
}


@media(min-width: 1216px) {
    .objective {
        display: flex;
        gap: var(--pad3);
        > .text {
            flex: 1;
            min-width: 0;
            margin-bottom: 0;
        }
    }
}


.link {
    font-size: 1rem;
    // color: $link;
    cursor: pointer;
    font-weight: normal;
    display: inline-block;
}

a.link_preview {
    padding: 0;
    display: block;
    // position: relative;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    // border-radius: $border-radius;
    display: flex;
    min-height: 5em;
    > .thumbnail {
        width: 10rem;
        background-size: cover;
        background-position: 50% 50%;
        background-color: #eee;
        max-height: 8em;
    }
    > .info {
        padding: 1rem;
        flex: 1;
        > h1 {
            font-size: 100%;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0.5rem;
            // color: $link;
            border: none;
        }
        > p {
            color: var(--color);
        }
    }
}

.plantuml {
    &.light {
        display: var(--display-light);
    }
    &.dark {
        display: var(--display-dark);
    }
    margin-left: -10px !important;
    margin-right: -10px !important;
    box-shadow: none !important;
    max-width: 100% !important;
    max-height: none !important;
}


table.rubric-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 1em 0;
    
    th, td {
        width: 15%;
    }
    
    th.noborder, td.noborder {
        border: 0;
    }
    
    th:first-child, td:first-child {
        width: 4rem;
    }
    
    th:nth-child(2), td:nth-child(2) {
        width: 25%;
    }
    
    th:nth-child(3), td:nth-child(3) {
        width: 4em;
    }
}

table.map-table {
    width: 100%;
    outline: var(--pad1) solid $green;
    margin: var(--pad1);
    border-radius: $border-radius;
    thead, tfoot, tr.highlight {
        background-color: $green;
        th, td {
            color: white;
            font-weight: normal;
        }
    }
    tr.failed {
        background-color: $purple;
    }
    tr.incomplete {
        background-color: #444;
    }
    th {
        font-weight: bold;
    }
    td, th {
        padding: 0.25rem 0.5rem;
        vertical-align: middle;
    }
    tbody {
        tr:not(:first-child) {
            border-top: 1px solid #eee;
        }
    }
    td:not(:first-child), th:not(:first-child) {
        max-width: 3.5rem;
        width: 3.5rem;
        text-align: right;
        overflow: hidden;
    }
    td.error, th.error {
        color: var(--accent-text);
    }
}


@media print {
    body {
        zoom: 0.55;
    }
    body > header {
        position: relative;
    }
    .assignment textarea, .assignment input, .buttons, *[aria-label="main navigation"], .left > a {
        display: none !important;
    }
    pre, .asciinema-player, .objective, .map-table {
        break-inside: avoid;
    }
    h1, h2, h3 {
        page-break-after: avoid;
    }
    .assignment .rubric {
        display: none;
    }
    .template-file pre {
        max-height: none;
    }
}
.template-file h1 {
    border: none;
    font-size: 1.35rem;
}



$ct-series-colors: (
#d70206,
#f05b4f,
#f4c63d,
#d17905,
#453d3f,
#59922b,
#0544d3,
#6b0392,
#f05b4f,
#dda458,
#eacf7d,
#86797d,
#b2c326,
#6188e2,
#a748ca
) !default;

.ct-legend {
    display: flex;
    margin-right: -10px;
    li {
        margin-right: 10px;
    }
    
    li:before {
        width: 12px;
        height: 12px;
        border: 3px solid transparent;
        border-radius: 2px;
        content: '';
        display: inline-block;
        margin-right: 2px;
    }
    
    li.inactive:before {
        background: transparent;
    }
    
    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($ct-series-colors, $i + 1);
            border-color: nth($ct-series-colors, $i + 1);
        }
    }
}



.buttons {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--pad3);
    button, .button, a[role=button], input[type=button], input[type=submit], input[type=reset] {
        margin-bottom: 0 !important;
        width: auto;
        white-space: nowrap;
    }
    &.wide {
        & > form {
            flex: 1;
            & > * {
                width: 100% !important;
            }
        }    
        button, .button, a[role=button], input[type=button], input[type=submit], input[type=reset] {
            width: auto;
            flex: 1;
        }
    }
}

.fab {
    position: fixed;
    color: white;
    background-color: $green;
    border-radius: 50% !important;
    font-size: 50px !important;
    font-weight: bold;
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: 0 !important;
    bottom: 32px;
    right: 32px;
    text-align: center;
    vertical-align: middle;
    box-shadow: var(--card-box-shadow);
}

.inbox_needs_consent {
    background-color: #848;
}
.inbox_in_progress {
    background-color: #{$purple};
}
.inbox_awaiting_approval {
    background-color: #0083cf;
}

.subtitle, .title {
    display: block;
}

.navbar-menu.is-active svg {
    // color: $primary;
}


table.sortable th {
    cursor: pointer;
}


.asciinema-player svg {
    display: inline-block;
}

.alternative {
    > .name {
        color: $purple;
        font-style: italic;
        margin-right: var(--pad2);
    }
    padding: 0 4px;
    border-radius: 8px;
    background-color: #8882;
    border-left: 1px solid $purple;
    border-right: 1px solid $purple;
}


// Internship DB styling
.internship {
    .company-header {
        display: flex;
        align-items: flex-end;
        gap: 1em;

        h1 {
            flex: 1;
        }

        .small-logo {
            max-width: 25%;
            max-height: 50px;
            box-shadow: var(--card-box-shadow);
        }


        .medium-logo {
            max-height: 100px;
            max-width: 150px;
            box-shadow: var(--card-box-shadow);
        }
    }

    .company-info {
        display: flex;
        flex-direction: row;
        position: relative;
        column-gap: 1em;
    
        @media (max-width: 750px) {
            flex-direction: column;
        }

        > article {
            flex: 1;
            > .quote {
                font-style: italic;
            }
        }

        .detail-list {
            flex-direction: column;
            row-gap: .5em;
        }

    }

    .detail-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
    }
    
    .detail-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
        color: $grey-500;

        > h2 {
            flex: 1;
        }

        &.align-right {
            justify-content: flex-end;
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        margin: 0;
    }

    .tag.unavailable {
        background-color:#d01818;
    }

    .add-button {
        width: fit-content;
        float: right;
    }

    .footnote {
        font-size: .90em;
        color: $grey-600;
    }
}


// Frontpage styling

.frontpage {
    margin-bottom: var(--mar3);

    .header_img {
        background-image: linear-gradient(#00000000, #00000050, #00000070), url("jungle.jpg");
        background-repeat: no-repeat;
        background-position: 50% 35%;
        background-size: cover;
        padding: 12% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px black;

        .headers {
            margin: var(--mar3);
            h2 {
                color: white;
                text-shadow: 0 0 10px black;
                font-size: 2em;
                margin: 0;
                line-height: 100%;
            }
            h1 {
                color: white;
                text-shadow: 0 0 20px black;
                font-size: 4em;
                border: none;
                margin: 0;
                line-height: 100%;
            }    
        }

    }

    .info {
        max-width: 1200px;
        margin: var(--mar3) auto;
        gap: var(--mar3);
        display: flex;

        div, a {
            flex: 1;
            border-radius: 10px;
        }

        .text {
            background-color: $green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                color: white;
                font-size: 3em;
                text-align: center;
                line-height: 100%;
            }

            p {
                margin: 0 auto;
                text-align: center;
                color: white;
                padding-left: var(--pad5);
                padding-right: var(--pad5);
            
                a {
                    color: white;
                    text-decoration: underline;
                }
            }
        }

        .img {
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 350px;
        }

        .code_img {
            background-image: linear-gradient(#00000010, #00000030, #00000050), url("code.jpg");
            background-position: 50% 35%;
        }

        .class_img {
            background-image: linear-gradient(#00000000, #00000030, #00000050), url("working.jpg");
            background-position: 50% 35%;
        }

        .open_source_img {
            background-image: url("gitlab.png");
            background-position: center;
        }
    }

    @media (max-width: 600px) {
        .header_img {
            .headers {
                h1 {
                    font-size: 2.5em;
                }    
            }

        }

        .info {
            flex-direction: column;
            margin: 0;
            height: 500px;
            width: 100%;
            padding: 0;
            gap: 0;

            div {
                border-radius: 0;
            }
            .text {
                padding: var(--pad3);
            }
            > * {
                margin: var(--mar3) 0 0 0;
            }

            &:nth-of-type(odd) {
                flex-direction: column-reverse;
            }
        }
    }
}

// Styling for attempts on user page
.latest_attempts {
    tr.needs_grading, tr.awaiting_approval, tr.needs_consent {
        color: $purple;
        font-weight: bold;
    }
    tr.in_progress > td:first-child::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 416 512"%3E%3Cpath fill="%23009c82" d="M272 96c26.51 0 48-21.49 48-48S298.51 0 272 0s-48 21.49-48 48s21.49 48 48 48zM113.69 317.47l-14.8 34.52H32c-17.67 0-32 14.33-32 32s14.33 32 32 32h77.45c19.25 0 36.58-11.44 44.11-29.09l8.79-20.52l-10.67-6.3c-17.32-10.23-30.06-25.37-37.99-42.61zM384 223.99h-44.03l-26.06-53.25c-12.5-25.55-35.45-44.23-61.78-50.94l-71.08-21.14c-28.3-6.8-57.77-.55-80.84 17.14l-39.67 30.41c-14.03 10.75-16.69 30.83-5.92 44.86s30.84 16.66 44.86 5.92l39.69-30.41c7.67-5.89 17.44-8 25.27-6.14l14.7 4.37l-37.46 87.39c-12.62 29.48-1.31 64.01 26.3 80.31l84.98 50.17l-27.47 87.73c-5.28 16.86 4.11 34.81 20.97 40.09c3.19 1 6.41 1.48 9.58 1.48c13.61 0 26.23-8.77 30.52-22.45l31.64-101.06c5.91-20.77-2.89-43.08-21.64-54.39l-61.24-36.14l31.31-78.28l20.27 41.43c8 16.34 24.92 26.89 43.11 26.89H384c17.67 0 32-14.33 32-32s-14.33-31.99-32-31.99z"%2F%3E%3C%2Fsvg%3E');
    }
    tr.needs_grading > td:first-child::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 20 20"%3E%3Cpath fill="%23009c82" d="M18 5.75a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 .75-.75Zm0 3a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h9.456A5.48 5.48 0 0 1 14.5 9a5.48 5.48 0 0 1 2.294.5h.456a.75.75 0 0 0 .75-.75ZM9.022 14a5.571 5.571 0 0 0 .069 1.5H2.75a.75.75 0 0 1 0-1.5h6.272Zm1.235-3a5.495 5.495 0 0 0-.882 1.5H2.75a.75.75 0 0 1 0-1.5h7.507ZM19 14.5a4.5 4.5 0 1 0-9 0a4.5 4.5 0 0 0 9 0Zm-2.5-2a.5.5 0 0 1 .749.657l-.06.068l-3.512 3.64a.5.5 0 0 1-.666.021l-.067-.067l-1.34-1.645a.5.5 0 0 1 .713-.696l.063.064l.999 1.227L16.5 12.5Z"%2F%3E%3C%2Fsvg%3E');
    }
    tr.needs_grading > td:first-child::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 20 20"%3E%3Cpath fill="%23009c82" d="M18 5.75a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h14.5a.75.75 0 0 0 .75-.75Zm0 3a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h9.456A5.48 5.48 0 0 1 14.5 9a5.48 5.48 0 0 1 2.294.5h.456a.75.75 0 0 0 .75-.75ZM9.022 14a5.571 5.571 0 0 0 .069 1.5H2.75a.75.75 0 0 1 0-1.5h6.272Zm1.235-3a5.495 5.495 0 0 0-.882 1.5H2.75a.75.75 0 0 1 0-1.5h7.507ZM19 14.5a4.5 4.5 0 1 0-9 0a4.5 4.5 0 0 0 9 0Zm-2.5-2a.5.5 0 0 1 .749.657l-.06.068l-3.512 3.64a.5.5 0 0 1-.666.021l-.067-.067l-1.34-1.645a.5.5 0 0 1 .713-.696l.063.064l.999 1.227L16.5 12.5Z"%2F%3E%3C%2Fsvg%3E');
    }
    tr.passed > td:first-child::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 24 24"%3E%3Cpath fill="%23009c82" d="M9 16.2L4.8 12l-1.4 1.4L9 19L21 7l-1.4-1.4L9 16.2z"%2F%3E%3C%2Fsvg%3E');
    }
    tr.repair > td:first-child::before, tr.failed > td:first-child::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 24 24"%3E%3Cpath fill="%23009c82" d="M12.884 2.532c-.346-.654-1.422-.654-1.768 0l-9 17A.999.999 0 0 0 3 21h18a.998.998 0 0 0 .883-1.467L12.884 2.532zM13 18h-2v-2h2v2zm-2-4V9h2l.001 5H11z"%2F%3E%3C%2Fsvg%3E');
    }
    tr.passed td:last-child {
        color: $green;
    }
    tr.repair > td:last-child, tr.failed > td:last-child {
        color: $purple;
    }
    tr.paused {
        color: #b17300;
    }
}

// Styling for default_schedule on user page

label.default-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        flex: 0 0 15%;
    }
}

label.default-schedule .radio-options {
    flex: 1 1 auto;
    display: flex;

    label {
        flex: 1 1 33.33%;
    }
    
    label input {
        position: absolute;
        opacity: 0;
    }
    
    label span {
        display: block;
        border: $border-width solid var(--form-element-border-color);
        border-right: none;
        padding: 0.5em 0;
        cursor: pointer;
        text-align: center;
    }
    label:first-child span {
        border-radius: $border-radius 0 0 $border-radius;
        border-right: none;
    }
    label:last-child span {
        border-radius: 0 $border-radius $border-radius 0;
        border-right: $border-width solid var(--form-element-border-color);
    }
    label input:checked + span {
        background-color: var(--primary);
        color: var(--primary-inverse);
        font-weight: bold;
    }
}
