{% extends "layout.html" %}

{% block title %}
<a href="/curriculum">Learning</a>
{% if student and student.id != current_user.id %}
    <a href="/people/{{student.id}}">{{ student.first_name }}</a>
{% endif %}
{% endblock %}

{% block body %}

{% if current_user.is_teacher %}
    {% for error in errors or [] %}
        <div class='notification is-important'>{{error}}</div>
    {% endfor %}
    {% for warning in warnings or [] %}
        <div class='notification is-warning'>{{warning}}</div>
    {% endfor %}
{% endif %}

<div class="tab-selectors">
{% for block_name, block in merged_periods.items() %}
    <a>
        {{ block_name }}
    </a>
{% endfor %}
</div>

<div class="tab-blocks mar4">
    {% for block_name, period in merged_periods.items() %}
    <div class="{{'tab-initial' if block_name==initial_block else ''}} rows4">
        {% for block in period %}
        <div class="columns">
            {% for topic in block %}
            <div>
                
                {% if topic.get('name') %}
                <details>
                    <summary><h2>{{topic.name}}</h2></summary>
                    {{(topic.get('description') or '')|markdown|safe}}
                    {% if topic.get('goals') %}
                    <p>Learning goals:</p>
                    {% endif %}
                    <ul>
                        {% for goal_title in topic.get('goals').values() %}
                            <li>{{goal_title}}</li>
                        {% endfor %}
                    </ul>
                </details>
                {% endif %}

                {% for lesson in topic.nodes %}
                    {% for depend_id in lesson.depend %}
                        <a class="chained lesson-dep" href="/curriculum/{{nodes_by_id[depend_id].id}}{{(student and student.url_query) or ''}}">
                            {{modules_by_id[nodes_by_id[depend_id].module_id].short or modules_by_id[nodes_by_id[depend_id].module_id].name}} ➤ {{nodes_by_id[depend_id].name}}
                        </a>
                    {% endfor %}
                    {% if lesson.coding_session %}
                        {% if lesson.id in coding_sessions %}
                            <div class="chained lesson-dep done">
                                Coding session
                            </div>
                        {% else %}
                            <div class="chained lesson-dep">
                                Coding session
                                {% if student %}
                                    <a onclick="codingSessionDone({{lesson.id | json}}, {{(student and student.id) | json}}, true)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M3 13.5a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h9.25a.75.75 0 0 0 0-1.5H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9.75a.75.75 0 0 0-1.5 0V13a.5.5 0 0 1-.5.5H3Zm12.78-8.82a.75.75 0 0 0-1.06-1.06L9.162 9.177L7.289 7.241a.75.75 0 1 0-1.078 1.043l2.403 2.484a.75.75 0 0 0 1.07.01L15.78 4.68Z" clip-rule="evenodd"/></svg>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                    <a class="chained lesson {{lesson['status']}}" href="/curriculum/{{lesson.id}}{{(student and student.url_query) or ''}}">
                        <h4>
                            {% if lesson['ects'] %}
                                <div class="tag is-important">{{lesson['ects']}} ects</div>
                            {% endif %}
                            {% if lesson['days']!=1 %}
                                <div class="tag is-info">{{lesson['days']}} days</div>
                            {% endif %}
                            {% if lesson['pair'] %}
                                <div class="tag is-ok">pair</div>
                            {% endif %}
                            {% if lesson['wip'] %}
                                <span class="tag is-important">NOT READY</span>
                            {% elif current_user.is_teacher %}
                                {% if lesson['errors'] %}
                                    <span class="tag is-important">ERROR</span>
                                {% elif lesson['warnings'] %}
                                    <span class="tag is-warning">WARNING</span>
                                {% endif %}
                            {% endif %}
                            {{lesson['name']}}
                        </h4>
                        {{lesson['description']}}
                    </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% if stats %}
    <p style="margin-top: 3em; color: #bbb; text-align: center;">
        {% for year, info in stats.items() %}
            Year {{year}} has {{info['*'].count}} nodes, spanning {{info['*'].avg_days}} nominal days.
        {% endfor %}
    </p>
{% endif %}

{% endblock %}
